In [275]:
import pandas as pd
HW=pd.read_excel(r'MDA.xlsx')
GDP=pd.read_excel(r'GDP.xlsx')
HE=pd.read_excel(r'health expenditure.xls')
FAO=pd.read_csv(r'FAOSTAT.csv')
Popu=pd.read_csv(r'population.csv')

In [276]:
GDP.head()

,Country,Scale,Base Year,1950,1951,1952,1953,1954,1955,1956,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,"Afghanistan, Islamic Rep. of",Millions,NaN,...,...,...,...,...,...,...,...,1033590,1116830,1183040,1226570,1222920,1285460,1327690,1469600,1547290,...
1,Albania,Millions,NaN,...,...,...,...,...,...,...,...,1.33281e+06,1.35005e+06,1.3953e+06,1.43431e+06,1.47248e+06,1.55065e+06,1.63673e+06,1.6919e+06,1.64408e+06,...
2,Algeria,Millions,NaN,4600,5300,...,...,...,...,...,...,16209600,16647900,17228600,16712686,1.75146e+07,1.88762e+07,2.03935e+07,2.05011e+07,1.83838e+07,...
3,"Andorra, Principality of",Millions,NaN,...,...,...,...,...,...,...,...,2481.85,2404.54,2462.69,2514.51,2616.86,2655.76,2725.27,2818.81,2507.69,...
4,Angola,Millions,NaN,...,...,...,...,...,...,...,...,1.22249e+07,1.3195e+07,14323859,1.39503e+07,16549600,20262300,2.56277e+07,3.08335e+07,3.37565e+07,...

In [267]:
GDP=GDP[['Country', 'Scale','1990','1991', '1992', '1993', '1994', '1995', '1996', '1997', 
        '1998', '1999','2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008','2009', 
        '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017','2018', '2019', '2020', '2021']]
GDP=GDP.rename(columns={'Scale':'GDP_Scale'})
GDP=pd.melt(GDP, id_vars=['Country', 'GDP_Scale'], value_vars=['1990','1991', '1992', '1993', '1994', '1995', '1996', '1997', 
        '1998', '1999','2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008','2009', 
        '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017','2018', '2019', '2020', '2021'], var_name='Year',value_name='GDP_value', col_level=None)

In [268]:
GDP['Year']=GDP['Year'].astype(int)
merge1 = pd.merge(HW, GDP, on=['Year', 'Country'])

In [277]:
merge1.head()

,Unnamed: 0,Dis No,Year,Disaster Subtype,Country,ISO,Region,Continent,Associated Dis,Associated Dis2,...,CPI,Location,Code,country,latitude,longitude,name,num,GDP_Scale,GDP_value
0,0,1993-0515-AUS,1993,Heat wave,Australia,AUS,Australia and New Zealand,Oceania,NaN,NaN,...,53.311620,South-east Australia,AU,AU,-25.274398,133.775136,Australia,0,Millions,454964
1,1,1990-0356-MEX,1990,Heat wave,Mexico,MEX,Central America,Americas,Drought,NaN,...,48.218797,North,ME,ME,42.708678,19.374390,Montenegro,1,Millions,...
2,2,1990-0085-FRA,1990,Heat wave,France,FRA,Western Europe,Europe,NaN,NaN,...,48.218797,Southwestern,FR,FR,46.227638,2.213749,France,2,Millions,1053546
3,3,1991-0279-PAK,1991,Heat wave,Pakistan,PAK,Southern Asia,Asia,NaN,NaN,...,50.260853,"Jacobabab, Nawabsma, Hyderabad (Sind province)",PA,PA,8.537981,-80.782127,Panama,3,Millions,...
4,6,1994-0641-AUS,1994,Heat wave,Australia,AUS,Australia and New Zealand,Oceania,NaN,NaN,...,54.701693,Townsville,AU,AU,-25.274398,133.775136,Australia,6,Millions,482370

In [278]:
HE.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,Current health expenditure per capita (current...,SH.XPD.CHEX.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Current health expenditure per capita (current...,SH.XPD.CHEX.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,113.183637,111.227695,104.541257,99.008506,94.739159,102.410661,96.289480,91.970113,NaN,NaN
2,Afghanistan,AFG,Current health expenditure per capita (current...,SH.XPD.CHEX.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,51.440262,55.034630,59.008934,58.906528,60.188671,65.706024,69.998604,65.806030,NaN,NaN
3,Africa Western and Central,AFW,Current health expenditure per capita (current...,SH.XPD.CHEX.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,71.039947,78.746863,81.804505,73.297775,63.649069,60.968846,59.328810,61.338476,NaN,NaN
4,Angola,AGO,Current health expenditure per capita (current...,SH.XPD.CHEX.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,122.185585,143.606873,131.647659,108.582939,95.124977,114.334602,87.310738,71.326004,NaN,NaN

In [279]:
HE=HE[['Country Name','1990','1991', '1992', '1993', '1994', '1995', '1996', '1997', 
        '1998', '1999','2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008','2009', 
        '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017','2018', '2019']]
HE=HE.rename(columns={'Country Name':'Country'})
HE=pd.melt(HE, id_vars=['Country'], value_vars=['1990','1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', 
                                                 '1999','2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', 
                                                 '2008','2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', 
                                                 '2017','2018', '2019'], 
           var_name='Year', value_name='HE_value', col_level=None)

In [280]:
HE['Year']=HE['Year'].astype(int)
merge2 = pd.merge(merge1, HE, on=['Year', 'Country'])

In [281]:
merge2.head()

,Unnamed: 0,Dis No,Year,Disaster Subtype,Country,ISO,Region,Continent,Associated Dis,Associated Dis2,...,Location,Code,country,latitude,longitude,name,num,GDP_Scale,GDP_value,HE_value
0,0,1993-0515-AUS,1993,Heat wave,Australia,AUS,Australia and New Zealand,Oceania,NaN,NaN,...,South-east Australia,AU,AU,-25.274398,133.775136,Australia,0,Millions,454964,NaN
1,1,1990-0356-MEX,1990,Heat wave,Mexico,MEX,Central America,Americas,Drought,NaN,...,North,ME,ME,42.708678,19.374390,Montenegro,1,Millions,...,NaN
2,2,1990-0085-FRA,1990,Heat wave,France,FRA,Western Europe,Europe,NaN,NaN,...,Southwestern,FR,FR,46.227638,2.213749,France,2,Millions,1053546,NaN
3,3,1991-0279-PAK,1991,Heat wave,Pakistan,PAK,Southern Asia,Asia,NaN,NaN,...,"Jacobabab, Nawabsma, Hyderabad (Sind province)",PA,PA,8.537981,-80.782127,Panama,3,Millions,...,NaN
4,6,1994-0641-AUS,1994,Heat wave,Australia,AUS,Australia and New Zealand,Oceania,NaN,NaN,...,Townsville,AU,AU,-25.274398,133.775136,Australia,6,Millions,482370,NaN

In [282]:
FAO.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code (FAO),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,2,Afghanistan,5419,Yield,1717,"Cereals, Total",1990,1990,hg/ha,12006,Fc,Calculated data
1,QCL,Crops and livestock products,2,Afghanistan,5419,Yield,1717,"Cereals, Total",1991,1991,hg/ha,11604,Fc,Calculated data
2,QCL,Crops and livestock products,2,Afghanistan,5419,Yield,1717,"Cereals, Total",1992,1992,hg/ha,10978,Fc,Calculated data
3,QCL,Crops and livestock products,2,Afghanistan,5419,Yield,1717,"Cereals, Total",1993,1993,hg/ha,11329,Fc,Calculated data
4,QCL,Crops and livestock products,2,Afghanistan,5419,Yield,1717,"Cereals, Total",1994,1994,hg/ha,11404,Fc,Calculated data

In [283]:
FAO=FAO.rename(columns={'Area':'Country','Value':'FAO_Value'})
FAO=FAO.set_index(["Country", "Year","Item"])["FAO_Value"].unstack().rename_axis(columns=None).reset_index()
FAO=FAO.rename(columns={'Cereals, Total':'Cereals','Fruit Primary':'Fruit','Milk, Total':'Milk','Vegetables Primary':'Vegetables'})
merge3 = pd.merge(merge2, FAO, on=['Year', 'Country'])

In [284]:
merge3.head()

,Unnamed: 0,Dis No,Year,Disaster Subtype,Country,ISO,Region,Continent,Associated Dis,Associated Dis2,...,longitude,name,num,GDP_Scale,GDP_value,HE_value,Cereals,Fruit,Milk,Vegetables
0,0,1993-0515-AUS,1993,Heat wave,Australia,AUS,Australia and New Zealand,Oceania,NaN,NaN,...,133.775136,Australia,0,Millions,454964,NaN,19795.0,159430.0,44514.0,194803.0
1,1,1990-0356-MEX,1990,Heat wave,Mexico,MEX,Central America,Americas,Drought,NaN,...,19.374390,Montenegro,1,Millions,...,NaN,24244.0,124366.0,24592.0,136650.0
2,2,1990-0085-FRA,1990,Heat wave,France,FRA,Western Europe,Europe,NaN,NaN,...,2.213749,France,2,Millions,1053546,NaN,60826.0,109337.0,35309.0,162003.0
3,3,1991-0279-PAK,1991,Heat wave,Pakistan,PAK,Southern Asia,Asia,NaN,NaN,...,-80.782127,Panama,3,Millions,...,NaN,18058.0,92473.0,9215.0,123481.0
4,6,1994-0641-AUS,1994,Heat wave,Australia,AUS,Australia and New Zealand,Oceania,NaN,NaN,...,133.775136,Australia,6,Millions,482370,NaN,12667.0,158592.0,46612.0,209118.0

In [285]:
Popu.head()

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 32,Unnamed: 33
0,Burundi,5439.0,5565.0,5686.0,5798.0,5899.0,5987.0,6060.0,6122.0,6186.0,...,9540.0,9844.0,10160.0,10488.0,10827.0,11175.0,11531.0,11891.0,NaN,NaN
1,Comoros,412.0,424.0,436.0,449.0,462.0,475.0,489.0,502.0,515.0,...,742.0,759.0,777.0,796.0,814.0,832.0,851.0,870.0,NaN,NaN
2,Djibouti,590.0,425.0,615.0,619.0,622.0,630.0,644.0,661.0,680.0,...,883.0,899.0,914.0,929.0,944.0,959.0,974.0,988.0,NaN,NaN
3,Eritrea,2259.0,426.0,2258.0,2239.0,2218.0,2204.0,2196.0,2195.0,2206.0,...,3281.0,3311.0,3343.0,3377.0,3413.0,3453.0,3497.0,3546.0,NaN,NaN
4,Ethiopia,47888.0,427.0,51424.0,53296.0,55181.0,57048.0,58884.0,60697.0,62508.0,...,95386.0,98094.0,100835.0,103603.0,106400.0,109224.0,112079.0,114964.0,NaN,NaN

In [272]:
Popu=pd.melt(Popu, id_vars=['Country'], value_vars=['1990 ', '1991 ', '1992 ', '1993 ', '1994 ', '1995 ','1996 ', '1997 ', '1998 ', '1999 ', '2000 ', '2001 ', '2002 ', '2003 ',
       '2004 ', '2005 ', '2006 ', '2007 ', '2008 ', '2009 ', '2010 ', '2011 ','2012 ', '2013 ', '2014 ', '2015 ', '2016 ', '2017 ', '2018 ', '2019 ','2020 '], var_name='Year', value_name='Population_value', col_level=None)

In [273]:
Popu['Year']=Popu['Year'].astype(int)
Merge = pd.merge(merge3, Popu, on=['Year', 'Country'])

In [274]:
Merge=Merge.drop(['Unnamed: 0'], axis=1)

In [286]:
Merge.head()

,Dis No,Year,Disaster Subtype,Country,ISO,Region,Continent,Associated Dis,Associated Dis2,Appeal,...,name,num,GDP_Scale,GDP_value,HE_value,Cereals,Fruit,Milk,Vegetables,Population_value
0,1993-0515-AUS,1993,Heat wave,Australia,AUS,Australia and New Zealand,Oceania,NaN,NaN,NaN,...,Australia,0,Millions,454964,NaN,19795.0,159430.0,44514.0,194803.0,17603.0
1,1990-0356-MEX,1990,Heat wave,Mexico,MEX,Central America,Americas,Drought,NaN,No,...,Montenegro,1,Millions,...,NaN,24244.0,124366.0,24592.0,136650.0,83943.0
2,1990-0085-FRA,1990,Heat wave,France,FRA,Western Europe,Europe,NaN,NaN,NaN,...,France,2,Millions,1053546,NaN,60826.0,109337.0,35309.0,162003.0,56667.0
3,1991-0279-PAK,1991,Heat wave,Pakistan,PAK,Southern Asia,Asia,NaN,NaN,No,...,Panama,3,Millions,...,NaN,18058.0,92473.0,9215.0,123481.0,511.0
4,1994-0641-AUS,1994,Heat wave,Australia,AUS,Australia and New Zealand,Oceania,NaN,NaN,NaN,...,Australia,6,Millions,482370,NaN,12667.0,158592.0,46612.0,209118.0,17799.0

In [265]:
import csv 
import pandas as pd 
Merge.to_csv('Merge.csv')